[Unit]
Description=Ubuntu Core Firstboot Configuration
After=plymouth-quit-wait.service
After=rc-local.service
Before=systemd-user-sessions.service
IgnoreOnIsolate=yes
ConditionPathExists=/dev/tty0
ConditionPathExists=!/writable/firstboot-complete

[Service]
Environment=PYTHONPATH=/usr/share/subiquity
ExecStart=-/sbin/agetty -n --noclear -l /usr/bin/console-conf tty0 $TERM
Type=oneshot
#Restart=always
#RestartSec=0
UtmpIdentifier=%I
TTYPath=/dev/tty0
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes

#KillMode=process
#Restart=always
#StandardInput=tty-force
#StandardOutput=tty
#StandardError=tty

[Install]
WantedBy=multi-user.target
